<!DOCTYPE html>
<html>
<head>
  <title>Isychat</title>
  <%= stylesheet_link_tag    'stylesheets/application', media: 'all' %>
  <%= javascript_include_tag 'javascripts/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
